@page "/learning/learn_2400"

<h1>
	Basket
</h1>

<div class="row">
	<div class="col table-responsive">

		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>
						#
					</th>
					<th>
						@(Resources.DataDictionary.Name)
					</th>
					<th>
						Price
					</th>
					<th>
						Count
					</th>
					<th>
					</th>
					<th>
						Sub Total
					</th>
				</tr>
			</thead>
			<tbody>
				@for (int index = 0; index <= items.Count - 1; index++)
				{
					var item = items[index];

					<tr>
						<td>
							@(index + 1)
						</td>
						<td>
							@(item.ProductName)
						</td>
						<td>
							@(item.ProductPrice)
						</td>
						<td>
							@(item.ProductCount)
						</td>
						<td>
							<button type="button" class="btn btn-primary btn-sm" @onclick="() => Plus(item)">+</button>
							<button type="button" class="btn btn-primary btn-sm" @onclick="() => Minus(item)">-</button>
						</td>
						<td>
							@*@(item.ProductPrice * item.ProductCount)*@
							@(GetSubTotal(item))
						</td>
					</tr>
				}

				<tr>
					<td colspan="5">
					</td>
					<td>
						@(GetTotal())
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

@code {

	protected override void OnInitialized()
	{
		items =
			new List<Models.Learning.BasketItem>();

		for (int index = 1; index <= 5; index++)
		{
			var item =
				new Models.Learning.BasketItem
				{
					ProductCount = 1,
					ProductName = $"Product { index }",
					ProductPrice = index * 100,
				};

			items.Add(item);
		}
	}

	private System.Collections.Generic.List<Models.Learning.BasketItem> items;

	public void Plus(Models.Learning.BasketItem item)
	{
		if (item.ProductCount < 10)
		{
			item.ProductCount++;
		}
	}

	public void Minus(Models.Learning.BasketItem item)
	{
		if (item.ProductCount > 0)
		{
			item.ProductCount--;
		}
	}

	public int GetSubTotal(Models.Learning.BasketItem item)
	{
		// Solution (1)
		//return item.ProductPrice * item.ProductCount;
		// /Solution (1)

		// Solution (2)
		//int result =
		//	item.ProductPrice * item.ProductCount;

		//return result;
		// /Solution (2)

		// Solution (3)
		int result =
			item.ProductPrice * item.ProductCount;

		if (item.ProductCount > 5)
		{
			result =
				(int)((decimal)(result * 95) / 100);
		}
		// /Solution (3)

		return result;
	}

	public int GetTotal()
	{
		int result = 0;

		foreach (var item in items)
		{
			result +=
				GetSubTotal(item);
		}

		return result;
	}

}
